chardet
Click
clickclick
connexion~=2.2.0
Flask~=1.0.2
flask-marshmallow
Flask-SQLAlchemy
idna
inflection
itsdangerous
Jinja2
jsonschema
MarkupSafe
marshmallow~=2.18.0
marshmallow-sqlalchemy
openapi-spec-validator
PyYAML
requests
six
SQLAlchemy
swagger-ui-bundle
urllib3
Werkzeug
jsons~=1.6.1